body {
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  padding: 30px;
  background-color: #080808;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 20px;
}

.timer-container-interval {
  padding: 15px;
  background-color: #080808;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  overflow-y: auto;
  height: 165px;
}

.timer-container-interval::-webkit-scrollbar {
  width: 4px;
}

.timer-container-interval::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 5px;
}

.timer-container-interval p {
  color: #1870ed;
  margin-bottom: 0;
  margin: 10px 0;
}

.timer-title {
  text-align: center;
}

.timer-title span {
  color: rgba(239, 55, 203, 0.46);
}

.timer-col {
  text-align: center;
  margin: 20px;
}

.timer-label {
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.timer-button {
  margin: 10px;
}

@media (max-width: 768px) {
  #root {
    width: 80%;
  }
  .timer-container {
    flex-direction: column;
  }
  .timer-button {
    width: 90%;
  }
  .timer-button .btn {
    width: 100%;
  }
}
